.hc {
    width: 100px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    border-radius: 50% 50% 0 0; /* Adjust as needed */
    background: linear-gradient(to right, rgb(248, 0, 0), rgb(0, 255, 21));
}
