.hc {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 50%;
    background: radial-gradient(circle, transparent 40%, rgba(0,212,255,1) 41%, rgba(0,212,255,1) 60%, transparent 61%);
}